
.idea/workspace.xml
__pycache__/design.cpython-39.pyc
.idea/workspace.xml
.idea/workspace.xml
build/new/Analysis-00.toc
build/new/base_library.zip
build/new/EXE-00.toc
build/new/new.exe.manifest
build/new/new.pkg
build/new/PKG-00.toc
build/new/PYZ-00.pyz
build/new/PYZ-00.toc
build/new/Tree-00.toc
build/new/Tree-01.toc
build/new/Tree-02.toc
build/new/warn-new.txt
build/new/xref-new.html
dist/data/design.ui
dist/data/statica0001.mat
dist/data/walk 5km0001.mat
dist/gui.exe
dist/gui.rar
dist/gui_.rar
*.png
/build/
dist/Gui_python_0.5.exe
